package views

import "quiz-go/views"

templ HomeContent() {
	<div class="max-w-7xl mx-auto">
	    <h1 class="text-3xl font-bold">Welcome to Quiz Go App</h1>
	    <p class="mt-4">Create, manage, and take quizzes easily.</p>
	</div>
}

templ Home() {
	@views.Layout(HomeContent())
}
